@using Microsoft.Extensions.Options
@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
    @inject IOptions<GoogleRecaptchaV3Model> recaptchV3Config;
}

<head>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <link rel="stylesheet" href=~/lib/bootstrap/dist/css/bootstrap.min.css />

    <style type="text/css">
        .login-form {
            width: 340px;
            margin: 50px auto;
            font-size: 15px;
        }

            .login-form form {
                margin-bottom: 15px;
                background: #f7f7f7;
                box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
                padding: 30px;
            }

        .form-group {
            margin-bottom: 1rem;
        }

        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn-primary {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            width: 100%;
            font-weight: bold;
        }
    </style>

    <script type="text/javascript">
        function onSubmitCallback(token) {
            $("#CaptchaToken").val(token);
            document.getElementById("fmLogin").submit();
        }
    </script>
</head>

<body>
    <div class="login-form">
        <form asp-controller="Login" asp-action="LoginMe" method="post" id="fmLogin">
            <div class="text-center"><img src="~/images/logo.png" /></div>
            <br />
            <h2 class="text-center">Log in</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" asp-for="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" asp-for="Password">
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CaptchaToken" />
                <button class="g-recaptcha btn btn-primary btn-block"
                        data-sitekey="@recaptchV3Config.Value.SiteKey"
                        data-callback="onSubmitCallback"
                        data-action="submit">
                    Log in
                </button>
            </div>
            <div class="form-group">
                <p><b>Note: </b>just login with any username and password or even with empty details</p>
            </div>
        </form>
    </div>
</body>